<template name="projectItem">
    <div id="{{_id}}" class="project">
        <div class="name">
            <span>
                {{#if isTheOwner}}
                    {{name}}
                {{else}}
                    {{name}}
                {{/if}}
            </span>
            <!-- <span class="new badge"></span> -->
        </div>
        <div class="participants">
            {{#each participants}}
                {{> participantBubble participant}}
            {{/each}}
            <div class="participant-bubble add from-project" href="#add-participant-modal"><span>{{_ "add_participant_label"}}</span></div>
        </div>
        {{#if isTheOwner}}
            <div class="action delete"></div>
        {{/if}}
        <div class="action open"></div>
    </div>
</template>