@import 'compass/reset';
@import 'compass/css3';

@mixin calc($prop, $val) {
    @each $pre in -webkit-, -moz- {
        #{$prop}: $pre + calc(#{$val});
    }
    #{$prop}: calc(#{$val});
}

@import '_font-awesome';
// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";
$action-width: 9em;
$action-height: 2em;
$action-to-do-background-color: rgb(255, 158, 41);
$action-in-progress-background-color: rgb(238, 180, 38);
$action-done-background-color: rgb(232, 239, 50);
$activity-text-color: rgb(35, 35, 35);
$page-background-color: rgb(35, 35, 35);
$title-color: rgb(255, 255, 255);
$map-axis-selector-color: rgb(255, 158, 41);
$map-axis-validator-color: rgb(35, 35, 35);
$project-width: 80%;
$project-height: 6em;
//custom theme
$primary-color: rgb(255, 158, 41) !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
}

@if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
}

$collapsible-header-color: $primary-color !default;
$collapsible-border-color: $primary-color-dark !default;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";

input, // fix iOS contenteditable
textarea,
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

body {
    font-family: Helvetica;
    font-size: 20px;
    font-variant: normal;
    @include user-select(none);
    background: $page-background-color;
    main {
        @extend .container;
    }
}

.modal{
    .tips {
        font-size: 0.75em;
    }
    .modal-close {
        font-size: 2em;
        position: absolute;
        top: -0.2em;
        left: calc( 100% - 1em);
    }
}

.profile {
    .map {
        .map-label {}
        .map-wrap {}
        .map-inset {
            .map-axis {
                &.x {
                    &.cursor {}
                    &.validator {}
                }
                &.y {
                    &.cursor {}
                    &.validator {}
                }
            }
            & span {
                &.selected {}
            }
        }
    }

}
.participant-bubble {
    @extend .valign-wrapper;
    position: relative;
    border-radius: 50%;
    margin-bottom: 15px;
    color: white;
    background-color: $page-background-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-transform: capitalize;
    span {
        @extend .center-align;
        @extend .flow-text;
        width: 100%;
        font-size: 100%;
    }
    &::before {
        content: '';
        position: absolute;
        right: -5.0%;
        top: -5.0%;
        width: 110.0%;
        height: 110.0%;
        border-radius: 50%;
        background-color: white;
        z-index: -1;
    }
    &.present::before {
        background-color: green;
    }
    &.online::before {
        background-color: orange;
    }
    &.offline::before {
        background-color: red;
    }
}

.projects-list {
    .title {
        @extend .flow-text;
        a {
            @extend .center-align;
            color: white;        }
    }
    .projects-list {
        @extend .row;
        .project-wrapper {
            @extend .col, .s6, .m6, .l6;
            .project {
                @extend .row;
                @extend .z-depth-3;
                position: relative;
                vertical-align: top;
                color: $activity-text-color;
                border-style: solid;
                border-color: white;
                border-width: 0.1em;
                margin: 1.5em 0em !important;
                background: $action-in-progress-background-color;
                .name {
                    @extend .col, .s12, .m12, .l12;
                    @extend .valign-wrapper;
                    span {
                        @extend .center-align;
                        @extend .flow-text;
                        width: 100%;
                    }
                }
                .participants {
                    @extend .col, .s6, .m6, .l6;
                    .participant-bubble {
                        @extend .participant-bubble;
                        $participant-item-size: 2em;
                        width: $participant-item-size;
                        height: $participant-item-size;
                        
                        display: inline-block;
                        border-width: 2px;
                        border-style: solid;
                        border-color: white;
                        span {
                            font-size: 100%;
                            line-height: $participant-item-size;
                            display: inherit;
                        }
                        &.present {
                            border-color: green;
                        }
                        &.online {
                            border-color: orange;
                        }
                        &.offline {
                            border-color: red;
                        }
                        &::before {
                            display: none;
                        }
                    }
                }
                .action {
                    @extend .fa;
                    position: absolute;
                    right: 0.25em;
                    color: white;
                    text-shadow: -2px 0 $page-background-color, 0 2px $page-background-color, 2px 0 $page-background-color, 0 -2px $page-background-color;
                    &.delete {
                        @extend .fa-times;
                        font-size: 1.25em;
                        top: -.6em;
                    }
                    &.open {
                        @extend .fa-table;
                        font-size: 1.25em;
                        bottom: -0.5em;
                    }
                }
            }
        }
    }
}

.participants-list {
    right: 15px;
    .modal-close {
        font-size: 2em;
        position: relative;
        top: -0.2em;
        left: calc( 100% - 1em);
    }
    .participant-bubble.add {
        $participant-item-size: 2em;
        width: $participant-item-size;
        height: $participant-item-size;
    }
}

.board {
    @extend .row;
    .status-item {
        @extend .col, .s12, .m12, .l12;
        color: $title-color;
        font-variant: regular;
        text-align: center;
        .title {
            @extend .center-align;
            @extend .flow-text;
            position: relative;
            text-transform: capitalize;
            letter-spacing: 1em;
            margin-right: -1em; // to remove the space on the last caracter
            margin-top: 1em;
            .follow {
                @extend .fa, .fa-bookmark-o;
                position: absolute;
                z-index: 1;
                top: -4px;
                left: -1.5em;
                color: rgba(255, 255, 255, 0.5);
                &.active::after {
                    position: absolute;
                    left: 0;
                    z-index: -1;
                    content: ""; // don't delete because you will loose the value :s
                    color: rgba(255, 0, 0, 0.5);
                    &:hover {
                        color: rgba(255, 0, 0, 1);
                    }
                }
                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
        .detail {
            letter-spacing: 0.5em;
            margin-right: -0.5em; // to remove the space on the last caracter
            margin-top: 0.5em;
            .clock {
                margin-top: -1.25em;
                margin-bottom: 1em;
                font-weight: 100;
            }
            .period {
                margin-bottom: 2em;
            }
        }
        .activities-list {
            @extend .row;
            width: 100%;
            text-align: center;
            .activity-wrapper {
                @extend .col, .s12, .m6, .l3;
                margin: 1em, 1em;
                .activity {
                    @extend .z-depth-3;
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    vertical-align: top;
                    font-family: Helvetica;
                    font-variant: normal;
                    font-weight: 100;
                    color: $activity-text-color;
                    margin: 1.5em 1em 1.5em auto;
                    border-style: solid;
                    border-color: white;
                    border-width: 0.1em;
                    .follow {
                        @extend .z-depth-3;
                        @extend .fa, .fa-bookmark-o;
                        position: absolute;
                        color: white;
                        z-index: 1;
                        top: -10px;
                        left: .25em;
                        font-size: 1.5em;
                        &.active::after {
                            position: absolute;
                            left: 0;
                            z-index: -1;
                            content: "";
                            color: red;
                        }
                    }
                    .participant-bubble {
                        position: absolute;
                        $participant-item-size: 2.5em;
                        width: $participant-item-size;
                        height: $participant-item-size;
                        
                        top: $participant-item-size * -2/3;
                        @include calc(left, '50% - '$participant-item-size/2);
                        background-size: $participant-item-size $participant-item-size;
                    }

                    .description {
                        font-size: .75em;
                        font-style: italic;
                        text-align: center;
                        overflow-wrap: break-word;
                        margin-top: 1.5em;
                        margin-bottom: .5em;
                        margin-left: .5em;
                        margin-right: .5em;
                        &.editable {
                            background-color: transparent;
                            outline: none;
                            resize: none;
                            overflow: auto;
                        }
                    }
                    .action {
                        @extend .fa;
                        position: absolute;
                        right: 0.15em;
                        font-size: 2.5em;
                        color: white;
                        text-shadow: -2px 0 $page-background-color, 0 2px $page-background-color, 2px 0 $page-background-color, 0 -2px $page-background-color;
                        &.backward {
                            @extend .fa-angle-up;
                            top: -.6em;
                        }
                        &.forward {
                            @extend .fa-angle-down;
                            bottom: -0.5em;
                        }
                    }
                }
            }
        }
        &.status-to-do .activity {
            background: $action-to-do-background-color;
            background: -moz-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $action-to-do-background-color), color-stop(100%, $action-in-progress-background-color));
            background: -webkit-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: -o-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: -ms-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: linear-gradient(to bottom, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
        }
        &.status-in-progress .activity {
            background: $action-in-progress-background-color;
            background: -moz-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $action-in-progress-background-color), color-stop(100%, $action-done-background-color));
            background: -webkit-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: -o-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: -ms-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: linear-gradient(to bottom, $action-in-progress-background-color 0%, $action-done-background-color 100%);
        }
        &.status-done .activity {
            background-color: $action-done-background-color;
        }
        &::after {
            @extend .divider;
        }
    }
}
