@import './../../.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/_bootstrap';
@import 'compass/reset';
@import 'compass/css3';
$action-width: 15em;
$action-height: 2em;
$action-to-do-background-color: rgb(255, 158, 41);
$action-in-progress-background-color: rgb(238, 180, 38);
$action-done-background-color: rgb(232, 239, 50);
$activity-text-color: rgb(35, 35, 35);
$page-background-color: rgb(35, 35, 35);
$title-color: rgb(255, 255, 255);
$map-axis-selector-color: rgb(255, 158, 41);
$map-axis-validator-color: rgb(35, 35, 35);
body {
    font-size: 10px;
    background-color: $page-background-color;
    font-family: Helvetica;
    font-variant: normal;
    font-weight: 100;
    @include user-select(none);
}

.welcome {
    font-size: 9em;
    color: $title-color;
    text-align: center;
}

.profile {
    .map {
        margin: 0 auto;
        max-width: 1024px;
        padding: 40px;
        .map-label {
            line-height: 60px;
            font-size: 24px;
            margin: 0;
            color: $title-color;
            font-family: monospace;
        }
        .map-wrap {
            background: $action-in-progress-background-color url(bg.png);
            padding: 1px;
            border-radius: 3px;
            position: relative;
        }
        .map-inset {
            padding-bottom: 50%;
            background: url(world.png) 50% 50%;
            -webkit-background-size: cover;
            background-size: cover;
            position: relative;
            border-radius: 2px;
            .map-axis {
                position: absolute;
                &.x {
                    top: 0;
                    bottom: 0;
                    width: 0;
                    &.cursor {
                        -webkit-transition: left 50ms ease-out;
                        transition: left 50ms ease-out;
                        border-left: 1px solid $map-axis-selector-color;
                    }
                    &.validator {
                        -webkit-transition: left 100ms ease-out;
                        transition: left 100ms ease-out;
                        border-left: 1px solid $map-axis-validator-color;
                    }
                }
                &.y {
                    left: 0;
                    right: 0;
                    height: 0;
                    &.cursor {
                        -webkit-transition: top 50ms ease-out;
                        transition: top 50ms ease-out;
                        border-top: 1px solid $map-axis-selector-color;
                    }
                    &.validator {
                        -webkit-transition: top 100ms ease-out;
                        transition: top 100ms ease-out;
                        border-top: 1px solid $map-axis-validator-color;
                    }
                }
            }
            & span {
                width: 6px;
                height: 6px;
                margin: -3px 0 0 -3px;
                background: $page-background-color;
                position: absolute;
                border-radius: 5px;
                border: 1px solid $title-color;
                &.selected {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.board {
    .status-item {
        @extend .row;
        color: $title-color;
        font-variant: regular;
        text-align: center;
        .title {
            text-transform: capitalize;
            font-size: 5em;
            letter-spacing: 1em;
            margin-right: -1em; // to remove the space on the last caracter
            margin-top: 1em;
        }
        .detail {
            font-size: 1.5em;
            letter-spacing: 0.5em;
            margin-right: -0.5em; // to remove the space on the last caracter
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            .period {
                margin-bottom: 1.5em;
            }
        }
        .activities-list {
            width: 100%;
            text-align: center;
            hr {
                width: 75%;
                margin-top: 3em;
            }
            .activity {
                vertical-align: top;
                display: inline-block;
                width: $action-width;
                @include border-radius(5px, 5px);
                font-family: Helvetica;
                font-variant: normal;
                font-weight: 100;
                color: $activity-text-color;
                margin: 1.5em 1em;
                .owner {
                    text-align: center;
                    vertical-align: middle;
                    padding: 0.5em 0em;
                    font-size: 2em;
                }
                .description {
                    * {
                        display: block;
                        text-align: center;
                        padding: 0.5em 0.5em;
                        font-size: 1.5em;
                        font-style: italic;
                    }
                    .edited {
                        background-color: transparent;
                        outline: none;
                        resize: none;
                        overflow: auto;
                    }
                }
                .action {
                    width: 0;
                    height: $action-height;
                    position: absolute;
                    left: $action-width*0.03;
                    border-style: solid;
                    -webkit-transition: border-width 0.1s ease;
                    transition: border-width 0.1s ease;
                    &:hover {
                        -webkit-transition-duration: 0.2s;
                        transition-duration: 0.2s;
                    }
                    &.backward {
                        top: -$action-height+0.04;
                        border-width: 0 $action-width/2.1 0 $action-width/2.1;
                        &:hover {
                            border-width: 0 $action-width/2.1 $action-height $action-width/2.1;
                        }
                    }
                    &.forward {
                        border-width: 0 $action-width/2.1 0 $action-width/2.1;
                        &:hover {
                            border-width: $action-height $action-width/2.1 0 $action-width/2.1;
                        }
                    }
                }
            }
        }
        &.status-to-do .activity {
            background: $action-to-do-background-color;
            background: -moz-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $action-to-do-background-color), color-stop(100%, $action-in-progress-background-color));
            background: -webkit-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: -o-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: -ms-linear-gradient(top, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            background: linear-gradient(to bottom, $action-to-do-background-color 0%, $action-in-progress-background-color 100%);
            .action.forward {
                border-color: $action-in-progress-background-color transparent transparent transparent;
            }
        }
        &.status-in-progress .activity {
            background: $action-in-progress-background-color;
            background: -moz-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $action-in-progress-background-color), color-stop(100%, $action-done-background-color));
            background: -webkit-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: -o-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: -ms-linear-gradient(top, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            background: linear-gradient(to bottom, $action-in-progress-background-color 0%, $action-done-background-color 100%);
            .action.backward {
                border-color: transparent transparent $action-in-progress-background-color transparent;
            }
            .action.forward {
                border-color: $action-done-background-color transparent transparent transparent;
            }
        }
        &.status-done .activity {
            background-color: $action-done-background-color;
            .action.backward {
                border-color: transparent transparent $action-done-background-color transparent;
            }
        }
    }
}

.logo {
    position: relative;
    margin-top: 0.5em;
    margin-right: auto;
    margin-left: auto;
    width: 504px;
    &:before {
        content: url(logo-center.png);
        position: relative;
        margin: auto;
    }
    & .circle {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-animation-name: rotating;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: initial;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: initial;
        -webkit-animation-fill-mode: initial;
        -webkit-animation-play-state: initial;
    }
    & .circle.inner {
        content: url(logo-sphere-inner.png);
        -webkit-animation-duration: 1.5s;
    }
    & .circle.middle {
        content: url(logo-sphere-middle.png);
        -webkit-animation-duration: 2s;
    }
    & .circle.external {
        content: url(logo-sphere-outer.png);
        -webkit-animation-duration: 2.5s;
    }
    & .circle.external:before {}
    @-webkit-keyframes rotating {
        from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -ms-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
            -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    @keyframes rotating {
        from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -ms-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
            -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    .rotating {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
    }
}

///////// OUT OF SEMANTIC ... thanks boostrap
.nav {
    font-size: 2em;
}

.tooltip.top .tooltip-arrow {
    top: 0;
    border-width: 0px 5px 5px 5px;
    border-bottom-color: #000;
}

.slider .tooltip.top {
    margin-top: 21px;
}

.slider-track-high {
    -webkit-transition: all 50ms ease-out;
    transition: all 100ms ease;
}

.slider-handle {
    -webkit-transition: left 50ms ease-out;
    transition: all 100ms ease;
}
