<template name="activityItem">
    <div id="{{_id}}" class="activity">
        <!-- <i class="follow"></i> -->
        {{> participantBubble owner}}
        {{#if isTheOwner}}
            <div class="description editable" contenteditable="true">{{description}}</div>
        {{else}}
            <div class="description">{{description}}</div>
        {{/if}}
        {{#if isTheOwner}}
            {{#unless isDone}}
            	<div class="action forward"></div>
            {{/unless}}
            {{#unless isToDo}}
                <div class="action backward"></div>
            {{/unless}}
        {{/if}}
    </div>
</template>
