<template name="map">
    <div class="map">
        <h3 class="map-label">
		<span class="map-label-name">{{timezone}}</span>
		<span class="map-label-time">11:30 am ROTT</span>
	</h3>
        <div class="map-wrap">
            <div class="map-inset">
                <div class="map-axis cursor x"></div>
                <div class="map-axis cursor y"></div>
                <div class="map-axis validator x"></div>
                <div class="map-axis validator y"></div>
            </div>
        </div>
    </div>
</template>
