<template name="activityItem">
    <div id="{{_id}}" class="activity">
        {{#unless isToDo}}
        	<div class="action backward"></div>
        {{/unless}}
        <div class="owner">{{owner}}</div>
        <div class="description">
            {{> editableText textarea=true class="editable" inputClass="edited" collection="activities" field="description" eventType="dblclick" placeholder="description" afterUpdate="triggerChange"}}
        </div>
        {{#unless isDone}}
        	<div class="action forward"></div>
        {{/unless}}
    </div>
</template>
